language: python
python:
- '2.7'
env:
- SECRET="mysecret"
services:
- postgresql
install:
- pip install -r requirements.txt
before_script:
- psql -c 'create database travis_ci_test;' -U postgres
script:
- pytest --cov-report term-missing --cov=app
after_success:
- coveralls
deploy:
  provider: heroku
  skip_cleanup: false
  api_key:
    secure: KlPXr7N0s1M1LCo29ycRcK/J/FEbsrHxbF5E28R2rSN5y3rCyr7XjM/9yRx/TRq8x/VKTWY+gEzho0ezDbA2i4dSbSeKVD612WKWeCDkujaIFgPDKLVADqhH21fbM94C/CezdXLhyt29hhM8139GxBVKHIq41mxzC4ltgULC4dBgJkAZ8KxvlRAMiSYOHVoJQ9nHpAtW8t1y/fVCJFfKpeHIotKQ3/e9pHTchxrgMGgj/1KiZ4SA8D7TA6pRMO07mVuuQ1miqdwN8Ilw4QDpONP8F2uEEEnn9b9yqIBW/nRcbAFDEfIiOsfgzQKoNPlTQ/Wf5lsaQIbbZPw4lTm8CGCy4K7EtYJFY/+fdcS8f9krXbFpsOclC89uHG3kLMGhy13GQyhwA/vUv5XDN63d2nQXNA8Y5O81KDZMTVMQ6j4gNHk1tjGHSlSrcVO02D4ak6NjpBPDPGJU1FaSqudAMuvBHdFjSx8fmHhwHAWvguYPf0vGmWmcseg0koKw8H9unHVP+4Kpt+nFzoBI5FrGoXJkkwJFNWhSOi96I/WJo85XWKaT3BBIoDaOJ3I9G/l89pJLupsjwxRRXcglu7cdeX9gHmEs6OeqBs3jbHR+2hK74U4FFJtjowK0ds7o4l82lQsTzMe50ysUPFLEDf9ZZ1SoA66Hcpl7x9e4sLu7eTg=
  on: api_staging-heroku
  app: api-fastfoodfast