language: python

python:
  - "2.7"

env:
  - SECRET="mysecret"

services:
  - postgresql

install:
  - pip install -r requirements.txt

before_script:
  - psql -c 'create database travis_ci_test;' -U postgres

script:
  - pytest --cov-report term-missing --cov=app

after_script:

after_success:
  - coveralls

