language: python

python:
  - "2.7"

env:


services:
  - postgresql

install:
  - pip install -r requirements.txt

before_script:
  - psql -c 'create database travis_ci_test;' -U postgres

script:
  - pytest --cov=app

after_script:

after_success:
  - coveralls

