language: python

python:
  - "2.7"

env:

services:
  - postgresql

install:
  - pip install -r requirements.txt

before_script:
  - psql -c 'create database travis;' -U postgres

script:
  - pytest --cov=app/api_v1

after_script:

after_success:
  - coveralls

