language: python

python:
  - "2.7"

env:
  - SECRET="mysecret"

services:
  - postgresql

install:
  - pip install -r requirements.txt

before_script:
  - psql -c 'create database travis_ci_test;' -U postgres

script:
  - pytest --cov-report term-missing --cov=app

after_success:
  - coveralls

deploy:
  - provider: heroku
      api_key: cdf1adcd-161e-43f6-bb96-7b0380c3a2f8
        secure:
      app: app
      on: api_staging-heroku
