/* ---------------------------------
   BASIC SETUP SECTION
   --------------------------------- */
* {
  /* All elements initial styling */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* TODO: Remove after development */
  /* border: 1px solid #519ce2;  */
}

*:focus {
    /* Removes the outline for all elements when selected */
    outline:none
}

html body {
  background-color: #fff;
  color:#555;
  /* Primamry font (Google font): Lato, the rest are fallback fonts, incase
  the google font does not load */
  font-family: 'Lato', 'Arial', 'sans-serif';
  font-weight: 300;
  font-size: 20px;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
}

.clearfix {zoom: 1}

.clearfix:after {
  /* Clears floats after each element */
  content: '.';
  clear: both;
  display: block;
  height: 0;
  visibility: hidden;
}

/* ---------------------------------
   RE-USABLE COMPONENTS SECTION
   --------------------------------- */

.row {
  /* Only absolute dimension, all others will be relative. This is the entire
  width of the page */
  max-width: 1140px;
  /* Center all the rows on the page, set left and right to auto and top and bottom to 0 */
  margin: 0 auto;
}

section {
  /* Add white spaces for each sections*/
  padding: 80px 0;
}

.box {
  /* Padding for colunm spans */
  padding: 1%;
}

/* ---------- HEADINGS ---------- */

h1, h2, h3 {
  /* Reduce h1 weights which are bold by default */
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 1px;
}

h1 {
  /* Remove the header margins top and bottom so there are not white spaces
  around it */
  margin-top: 0;
  margin-bottom: 20px;
  color: #fff;
  font-size: 200%;
  word-spacing: 4px;
}

.h1_span {
    /* changes select word color in the header h1 */
    color:#e67e22;
}

h2 {
  font-size: 150%;
  word-spacing: 2px;
  text-align: center;
  margin-bottom: 30px;
}

h2:after {
  /* Diplays the orange underline */
  display: block;
  height: 2px;
  background-color: #e67e22;
  /* Specify contents :after, in this case no words
  just a space */
  content: " ";
  width: 110px;
  margin: 0 auto;
  margin-top: 30px;
}

h3 {
  font-size: 100%;
  margin-bottom: 15px;
}

.box h3 { text-align: center;}

/* ---------- PARAGRAPHS ---------- */
.box p {
  font-size: 90%;
  line-height: 145%;
}

/* ---------- ICONS ---------- */
.icon-big {
  font-size: 300%;
  display: block;
  color: #e67e22;
  margin-bottom: 10px;
  text-align: center;

}

/* ---------- LINKS ---------- */
a:link,
a:visited {
  color: #e67e22;
  text-decoration: none;
  padding-bottom: 2px;
  border-bottom: 1px solid #e67e22;
  transition: border-bottom 0.2s; color:0.2s
}

a:hover,
a:active {
  color: #555;
  border-bottom: 1px solid transparent;
}

/* ---------- BUTTONS ---------- */
.btn:link,
.btn:visited,
.feedback_row input[type='submit'] {
  /* inline-blocks can have padding and margin and does not enforce breaks,
  unlike an in-line element e.g. buttons, so use this inline block to make
  inline elements, in-line blocks */
  display: inline-block;
  padding: 5px 20px;
  margin-right: 15px;
  font-size: 90%;
  font-weight: 300;
  text-decoration: none;
  border-radius: 100px;
}

.btn:link,
.btn:visited {
    /* transition the link to hover colors in 0.2 seconds instead of instantenouesly */
    transition: background-color 0.2s, border 0.2s, color 0.2s;
    background-color: #e67e22;
    border: 1px solid #e67e22;
    color: #fff;
}

.feedback_row input[type='submit'] {
    background-color: transparent;
    border: 1px solid #cf6d17;
    color: #fff;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
}

.btn:hover,
.btn:active {
  background-color: #cf6d17;
  border: 1px solid #cf6d17;
  background-color: transparent;
  border: 1px solid #cf6d17;
}

.feedback_row input[type='submit']:hover,
.feedback_row input[type='submit']:active {
    background-color: #e67e22;
    border: 1px solid #e67e22;
    color: #fff;
}

/* ---------------------------------
   HEADER SECTION
   --------------------------------- */
header {
  /* Include the img via 'url' and make its darker using liner-gradient */
  background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.65)),
  url(images/header.jpg);
  /* Ensure background image remains fixed when scrolling */
  background-attachment: fixed;
  /* ensure we can view the entire background image, not zoomed */
  background-size: cover;
  background-position: center;
  /* set the header to fiil the page viewport i.e entire page size so that header
  image fills the page as well */
  height: 100vh;
}

.logo {
  height: 170px;
  width: auto;
  float: left;
  margin-top: 0px;
}

.logo_black {
  display: none;
  height: 60px;
  width: auto;
  float: left;
  margin-top: 5px 0;
}

.header_texbox {
    /* this will be an absolutely positined box so that we can horizontalt &
    vertically centre it */
    position: absolute;
    width: 700px;
    top: 55%;
    left: 50%;
    /* Translates 50% of the element's width & length, up & left */
    transform: translate(-50%, -50%);
}

.header_texbox h1,
.header_texbox p {
    text-align: center;
}

.header_texbox p {
    padding-bottom: 30px;
    color: #fff;
    font-size: 115%;
    word-spacing: 4px;
}

.header_texbox a {margin-left: 285px;}

/* ---------- MAIN NAV ---------- */
.main_nav {
  float: right;
  list-style: none;
  margin-top: 15px;
}

.main_nav li {
  /* Change the li elements from block to in-line blocks */
  display: inline-block;
  margin: 10px;
}

.main_nav li a:link,
.main_nav li a:visited {
  padding: 8px 0;
  color: #fff;
  text-decoration: none;
  text-transform: capitalize;
  font-size: 70%; /* desired font size of the base font size under 'html' */
  border-bottom: 2px solid #e67e22;
  transition: border-bottom 0.2s;
}

.main_nav li a:hover,
.main_nav li a:active {
  border-bottom: 2px solid;
  color: #fff;
  text-decoration: none;
  text-transform: capitalize;
}

/* --------- MOBILE NAV   --------- */
/* Style how the mobile nav will look like */
.mobile_nav_icon,
.cart {
  float: right;
  margin-top: 22px;
  cursor: pointer;
}

.mobile_nav_icon i,
.cart i {
  font-size: 140%;
  color: #fff;
}

.mobile_nav_icon {
  padding-top: 7px;
  display: none;
}

.cart:link,
.cart:visited,
.cart:active,
.cart:hover {
  padding: 2px 30px 0 30px;
  border: 0;
  text-decoration: none;
  border-bottom: none;
}

.cart i {
  font-size: 170%;
  font-weight: bolder;
  color: #fff;
}


/* ---------- STICKY NAV  ---------- */
/* Style hwo the stick nav will look like */
.sticky_nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 58px;
  /* background-color: rgba(255, 255, 255, 0.98); */
  background-color:#f4f4f4f6;
  box-shadow: 0 2px 2px #efefef;
  /* Specifys the vertical stacking of element from 0-9999, with the latter being the higest allowed, thus will be the top-most element */
  z-index: 9999;

}

.sticky_nav .main_nav { margin-top: 0; }

.sticky_nav .cart,
.sticky_nav .cart i {
  margin-top: 6px;
  color: rgb(22, 21, 21);
}

.sticky_nav .main_nav li a:link,
.sticky_nav .main_nav li a:visited {
  /* These only apply if inside the sticky_nav class */
    padding: 7px 0;
    color: #555;
}

/* If the logo's are inside the sticky_nav, do the below */
.sticky_nav .logo { display: none; }
.sticky_nav .logo_black {
  display: block;
  margin-top: -1px;
}

/* ---------------------------------
   SELL SECTION
   --------------------------------- */
.intro {
    line-height: 135%;
    width:70%;
    /* total lenght is 100%, paragraphs length is 70%, leaving 30%, distributed
    on each side */
    margin-left: 15%;
    margin-bottom: 30px;
    word-spacing: 3px;
}

.works_list {
    font-size: 85%;
    line-height:  145%;
    margin: 10px 0 0 22px;
}

/* ---------------------------------
   TESTIMONIALS SECTION
   --------------------------------- */
.customer_testimonial {
  background-image: linear-gradient(rgba(0 , 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
  url(images/testimonials.jpg);
  background-size: cover;
  color:#fff;
  background-attachment: fixed;
}

blockquote {
  padding: 2%;
  font-style: italic;
  line-height: 145%;
  word-spacing: 3px;
  position: relative;
  margin-top: 40px;

}

cite {
  font-size: 90%;
  margin-top: 25px;
  /* Move the cite element under the blockquote */
  display: block;
}

blockquote:before {
  content: "\201C";
  font-size:500%;
  /* Position it on its own line */
  display: block;
  /* Whenever we give an element an absolute position, we need to give its parent
  a relative position */
  position: absolute;
  top:-5px;
  left:-5px;
}

/* ---------------------------------
   MENU SECTION
   --------------------------------- */

.menu_section {background-color: #f4f4f4;}

.menu_box {
  background-color:#fff;
  border-radius: 5px;
  width: 90%;  /* of the parent width */
  margin-left: 5%;  /* center - 10px/2 remainder width in the parent width */
  /* Add a box shadow - (x value offset, y value offset, blur value, color value*/
  box-shadow: 0 2px 2px #efefef;
}

.menu_box div {border-bottom: 1px solid #e8e8e8;}

.menu_divs {padding: 13px;}

.img_plan_div {height: 248px;}

.menu_box img {
  width: 100%;
  height: 100%;
}

.menu_box div:first-child {
  background-color: #fcfcfc;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.menu_box div:last-child {
  text-align: center;
  border: none;
}

.meal_price {
  font-size: 200%;
  font-weight: 300;
  color: #e67e22;
}

.meal_price span {
  font-size:50%;
  font-weight: 300;  /* Override the parent font weight to return it to the normal */
}

.menu_box h3 {
  text-align: center;
  margin-bottom: 0px;
  color: #e67e22;
  font-weight: 400;
}

.single_line_h3 {
  /* Style a meal title div with a short name to make it multi-line */
  margin-top: 15px;
  padding-bottom: 8px;
}

.menu_box p {text-align: center;}

.btn_meal:hover,
.btn_meal:active {
  color: #e67e22;
}

.meal_desc p {
    /* word-spacing: 2px; */
    font-size: 90%;
    text-align: centre;
}

/* ---------------------------------
   FEEDBACK SECTION
   --------------------------------- */
.customer_feedback {
  background-image: linear-gradient(rgba(0 , 0, 0, 0.75), rgba(0, 0, 0, 0.65)),
  url(images/feedback.jpg);
  background-size: cover;
  color:#fff;
  background-attachment: fixed;
}

.feedback_form {
    width: 70%;
    /* Center the contact form inside its parent container */
    margin:0 auto;
}

.feedback_row {width:80%;}

.feedback_form input[type='text'], 
.feedback_form input[type='email'],
.feedback_form textarea {
    /* Select only inputs with selected type */
    width: 100%;
    padding: 7px;
    margin-bottom: 7px;
    border-radius: 3px;
    border: 1px solid #ccc;
    background-color: transparent;
    color:#fff;
}

.feed_input {font-weight: 300;}

textarea {height: 100px;}

/* ---------------------------------
   FOOTER SECTION
   --------------------------------- */

footer {
    background-color: #fcfcfc;
    padding: 10px;
    font-size: 80%
}

.footer_nav {
    list-style: none;
    text-align: center;
    font-size: 85%;
}

.socal_links {
    list-style: none;
    text-align: center;
}

.footer_nav li,
.socal_links li {
    display: inline-block;
    margin-right: 20px;
}

.footer_nav li:last-child,
.socal_links li:last-child {
    margin-right: 0;
}

.footer_nav li a:link,
.footer_nav li a:visited,
.socal_links li a:link,
.socal_links li a:visited {
    text-decoration: none;
    border: 0;
    color: #888;
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
    font-size: 105%;
}

.footer_nav li a:hover,
.footer_nav li a:active {
    color: #e67e22;
}

.footer_nav li a:link,
.footer_nav li a:visited {
    font-size: 105%;
}

.footer_nav li a:link,
.footer_nav li a:visited {
    font-size: 105%;
}

.socal_links li a:link,
.socal_links li a:visited {
    font-size: 105%;
}

.ion-social-facebook,
.ion-social-twitter,
.ion-social-googleplus,
.ion-social-instagram {
    transition: color 0.2s
}

.ion-social-facebook:hover {color: #3b5998;}

.ion-social-twitter:hover {color: #00aced;}

.ion-social-googleplus:hover {color: #dd4b39;}

.ion-social-instagram:hover {color: #517fa4;}

footer p {
    color: #888;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 70%;
}

.contacts div {
    border-radius: 2px;
    padding-bottom: 5px;
}

.contacts h3 {
    text-align: center;
    margin:0;
    font-size: 75%;
}

.contacts h3:after,
.contacts p:after {
  /* Diplays the orange underline */
  display: block;
  height: 1px;
  background-color: #e67e22;
  /* Contents must be specified anytime we use an :after, in this case no words
  just a space */
  content: " ";
  width: 60px;
  margin: 0 auto;
  margin-top: 5px;
}

.contacts p {
    font-size: 75%;
    padding: 5px 0 8px 0;
    line-height: 175%;
}

.copyright h6 {
  line-height: 100%;
  padding-top: 0;
  margin-top: 5px;
  font-weight: 400;
  text-align: center;
}

/* ---------------------------------
   ABOUT US PAGE
   --------------------------------- */
.about_section {
  padding: 20px;
  margin-left: 15px;
}

.head,
.parag,
.images_div {
    padding:5px;
}

.head h1 {
  color:#191a19;
  font-size: 120%;
  font-weight: 400;
  text-transform: capitalize;
  border-bottom: 1px solid #e67e22;
}

.showcase {
    list-style: none;
    width: 100%;
    border-radius: 25px;

}

.showcase li {
    display: block;
    width: 22%;
    float: left;
}

.images_li {
    width: 100%;
    margin: 20px 0px 20px 20px;
}

.images_li img {
    width: 100%;
    height: 210px;
}

.chef {
    margin: 0px 25px 0px 9px;
}

.parag {
    font-size: 85%;
    text-align: left;
    line-height: 140%;
}

.parag div {
    width: 47%;
}

.parag div:first-child {
    margin-right: 24px;
}

.images_div figcaption {
    text-align: center;
    font-size: 80%;
    color: #e67e22;
}

/* ---------------------------------
   ADMIN PAGE
   --------------------------------- */
.admin_section {
  display: none;
  border: 1px solid #e67e22;
  width: 100%;
  height: auto;
  background-color: #e4e1e1fa;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 10%;
  top: 15%;
  width: 80%; 
  height: 70%;
  overflow: auto;
}

.header_section { 
  height: auto;
  margin-bottom: 0;
}

.view_section { margin-top: 0; }

.admin_section,
.header_section,
.view_section { margin: 0.5% 0.5% 0 0.5%; }


.view_section,
.view_info {
  height: auto;
  padding: 5px;
}

.title_col,
.nav_col {
  margin:0;
  padding: 0 0 4px 0;
}

.title_col { margin-top: 5px; }

.header_section h1  {
  color: #080000;
  font-size: 90%;
  font-weight: bold;
  margin:0 0 0 20px;
  padding-top: 4px;
}

/* ---------- NAV BAR ---------- */
.admin_nav {
  display: block;
}

.admin_nav li {
  float: right;
  list-style: none;
  margin-left: 20px;
  margin-top: 12px;
  text-decoration: none;
  font-size: 63%;
  font-weight: bold;
}

.admin_nav li a:link,
.admin_nav li a:visited {
  color: #0f0f0f;
}

.admin_nav li a:hover,
.admin_nav li a:active {
  color: #e67e22;
}

.view_header {
  box-shadow: 0 0 1px 0 #6b6767;
  padding:5px;
}

.view_header p {
  font-size: 83%;
  font-weight: bold;
  text-align: center;
  padding-top: 2px;
  color:#e4e1e1fa;
}

.close_table {
  position: absolute;
  right: 18px;
  top: 11.5%;
  color: #e4e1e1fa;
  font-size: 25px;
  cursor: pointer;
}

table {
  border-collapse: collapse;
  width: 100%;
  table-layout: auto;
}

thead, tbody, tr { width: 100%; }

th {
  font-size: 80%;
  font-weight: normal;
  padding: 5px 5px;
  text-transform: capitalize;
}

td, th {
  border: 1px solid #a5a4a4;
  text-align: center;
  font-size: 75%;
  color: #080000;
  padding:0;
}

#menu_table th:last-child,
#menu_table td:last-child { width: 20%; }


.view_info_div {
  width: 32%;
  display: inline-block;
  margin: 0 0 0 5px;
}

.view_info_div input[type='submit'] {
  display: inline-block;
  padding: 1px 10px 1px 10px;
  margin: 5px 0 5px 5px;
  font-size: 80%;
  text-decoration: none;
  border: 1px solid #e67e22;
  border-radius: 100px;
  background-color:#e4e1e1fa;
}

.view_info_div input[type='submit']:hover {
  background-color: #e67e22;
  color: #fff;
}

.view_info_div input[type='radio'] {
  padding: 20px 0 0 0;
}

.view_info_div label {
  font-size: 80%;
  padding: 0 8px 0 4px;
}

#menu_table {
  display: none;
}


/*---------------------------------
   LOGIN & SIGNUP MODALS
  --------------------------------- */
.modal_login {
  display: none;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 35%;
  top: 28%;
  width: 35%; 
  height: 43%;
  /* overflow: auto; Enable scroll if needed */
  background-color: rgba(0,0,0,0); /*Black w/ opacity*/
}

.modal-content_login {
  /* display: none; */
  position: relative;
  background-color:#f4f4f4f6;
  border: 1px solid #888;
  width: 100%;
  height: 100%;
}

.modal_signup {
  display: none;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 35%;
  top: 28%;
  width: 35%; 
  height: 53%;
  /* overflow: auto; Enable scroll if needed */
  background-color: rgba(0,0,0,0); /*Black w/ opacity*/
}

.modal-content_signup {
  /* display: none; */
  position: relative;
  background-color:#f4f4f4f6;
  border: 1px solid #888;
  width: 100%;
  height: 100%;
}

.close {
  position: absolute;
  right: 18px;
  top: 0;
  color: #000;
  font-size: 25px;
}

.close:hover,
.close:focus {
  color: #e67e22;
  cursor: pointer;
}

.imgcontainer {
  text-align: center;
  margin-top: 15px;
  height: 40px;
  position: relative;
}

.imgcontainer h3 {
  color:#e67e22;
  font-weight: normal;
  font-size: 85%;
  padding: 8px 0 0 0;
}

.container {
  padding: 0 14px 0 14px;
}

.container label {
  font-size: 55%;
  color: #f4f4f4f6;
  /* color:red; */
  display: block;
  padding-left: 5px;
}

.container input[type=email], 
.container input[type=password],
.container input[type=text] {
  width: 100%;
  height: 100%;
  padding: 10px 10px;
  margin: 5px 0 5px 0;
  border: 1px solid #ccc;
  font-size: 77%;
  border-radius: 5px;
}

/* Set a style for all buttons */
button {
  background-color: transparent;
  color: #e67e22;
  margin: 22px 0 0 20px;
  padding: 5px 2px 5px 2px;
  border: none;
  cursor: pointer;
  width: 20%;
  border: 1px solid#e67e22;
  border-radius: 100px;
  font-size: 60%;
}

.button_container_signup button { margin-top: 13px; }

button:hover {
  background-color: #e67e22;
  color: white;
  border: 1px solid#e67e22;
}

.button_container label {
  font-size: 65%;
  color: #000;
  float: right;
  margin: 23px 23px 0 0;
}

.button_container label:hover {
  color: #e67e22;
  cursor: pointer;
}

.button_container label:after {
  /* Diplays the orange underline */
  display: block;
  height: 1px;
  background-color: #e67e22;
  content: " ";
  width: 80px;
  margin: 0 auto;
  margin-top: 5px;
}

/* Code credit to https://www.w3schools.com/howto */
/* @keyframes slide_from_top {
  0% {top:-300px; opacity:0;}
  100% {top:0; opacity:1;}
}

@keyframes slide_back_to_top {
  0% {top:0; opacity:1;}
  100% {top:-300px; opacity:0;}
} */