/* Media queries for various viewport widths */

/* ---------------------------------
   INDEX.HTML QUERIES
   --------------------------------- */

@media only screen and (max-width:1150px) {
   /* 1081 - 1150px */ 
   .row { padding: 0 2%; }
   .box { padding: 0.5%; }
   .intro { text-align: center; }
   .works_list { margin-top: 7px;}
   blockquote:first-child { margin-left: 10px; }
   .menu_box {
      width: 95%;
      margin-left: 2%;
   }
   .footer_col { margin: 0px; }
}

 @media only screen and (max-width:1080px) {
   /* 981 - 1080px */
   .sell_section p { font-size: 87%; }
   .menu_box {
      width: 95%;
      margin-left: 1%;
   }
   .meal_price { font-size: 150%; }
 }

 @media only screen and (max-width:980px) {
   /* 769 - 980px */

   .row { padding: 0 1%;}
   .intro {
      width:690px;
      margin-left: 110px; 
   }
   .box { margin-left: 10px; }
   .box h3 { font-size: 85%; }
   .box p { font-size: 80%; }
   .works_list { font-size: 68%; }
   .icon-big { font-size: 200%; }
   blockquote { font-size: 95%; }
   .single_line_2_h3 {
      margin-top: 1px;
   }
 }

 @media only screen and (max-width:768px) {
   /* 481 - 768px */
   section { padding: 60px 0; }
   .logo {
      height: 130px;
      width: auto;
   }
   h1 { font-size: 190%; }
   h2 { font-size: 120%; }
   .header_texbox p { font-size: 110%; }
   .box h3 {
      font-size: 76%;
      margin-bottom: 10px;
   }
   .works_list {
      font-size: 65%;
      margin-top: 0;
   }
   .box { margin-left: 0px; }
   .box p {
      font-size: 65%;
      text-align: left;
      line-height: 180%;
      padding: 9px 0 0 2px;
   }
   .intro {
      width:660px;
      margin-left: 40px;
   }
   .single_line_3_h3 {
      padding: 9px 0 9px 2px;
   }
   .blockquote { font-size: 85%; }
   .icon-big { font-size: 170%; }
   .span-1-of-4 { width: 25%; }
   .menu_divs h3 { font-size: 90%;}
   .meal_desc P { font-size: 80%; }
   .single_line_4_h3 { padding: 14px 0 16px 0px; }
   .single_line_5_h3 { padding-top: 14px; }
   .btn_meal:link,
   .btn_meal:visited,
   .btn_meal:hover,
   .btn_meal:active {
      font-size: 80%;
   }
 }

 @media only screen and (max-width:480px) {
   /* 0 - 480px */
   section { padding: 40px 0; }
   .row { padding: 0 2%; }
   .logo {
      height: 100px;
      width: auto;
   } 
   .header_texbox { width:417px; }
   .main_nav { visibility: hidden; }
   h1 { font-size: 200%; }
   .header_texbox p { font-size: 90%; }
   .btn:link,
   .btn:visited,
   .btn:active,
   .btn:hover {
      font-size: 90%;
      padding: 5px 5px;
      margin: 30px 0 0 165px;
   }
   h2 {
      font-size: 100%;
      margin-bottom: 15px;
   }
   h2:after { margin-top: 15px; }
   .intro {
      line-height: 120%;
      width:90%;
      margin: 30px 17px 30px 7px;
   }
   .box {
      width: 100%;     
      margin-bottom: 30px;
   }
   .icon-big { font-size: 200%; }
   .box h3 { font-size: 100%; }
   .box p {
      font-size: 80%;
      text-align: center;
   }
   .works_list {
      font-size: 77%;
      margin-top: 10px;
   }
   blockquote {
      font-size: 90%;
      margin-bottom: 30px;
   }
   .menu_divs {
      padding: 7Px;
   }
   .menu_divs h3 {
      font-size: 85%;
      padding-top: 5px 0 0 0;
      margin-bottom: 10px;
   }
   .menu_box { margin: 20px 0 20px 0; }
   .menu_box_2 { margin-left: 10px; }
   .meal_desc p {
      font-size: 78%;
      line-height: 130%;
   }
   .meal_price { font-size: 140%; }
   .btn_meal:link,
   .btn_meal:visited,
   .btn_meal:active,
   .btn_meal:hover {
      font-size: 70%;
      padding: 5px 5px;
      margin-left: 16px;
   }
   .feedback_form { margin-top: 20px; }
   .feedback_form,
   .feedback_row { width: 100%; }
   .feedback_row input[type='submit'] { font-size: 70%; }
   .footer_row { padding: 0; }
   .footer_col {
      width: 33%;
      padding-top: 5px;
   }
   .contacts p,
   .socal_links li,
   .footer_nav li { font-size: 55%; }
   .copyright p {
      margin:0;
      padding:0;
   }
   .contacts p:after {
      display: block;
      background-color: #fcfcfc;
   }
 }

/* ---------------------------------
   ABOUTUS.HTML QUERIES
   --------------------------------- */