/* ---------------------------------
   BASIC SETUP SECTION
   --------------------------------- */
* {
  /* All elements initial styling */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /*border: 0.5px solid rgb(110, 181, 232);*/
}

/* Removes the outline for all elements when selected */
*:focus {outline:none}

html body {
  background-color: #fff;
  color:#555;
  /* Primamry font (Google font): Lato, the rest are fallback fonts, incase
  the google font does not load */
  font-family: 'Lato', 'Arial', 'sans-serif';
  font-weight: 300;
  font-size: 20px;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
}

.clearfix {zoom: 1}
.clearfix:after {
  /* Clears floats after each element that declares them, this class is used in
   each parent section where a child class declares floats */
  content: '.';
  clear: both;
  display: block;
  height: 0;
  visibility: hidden;
}

/* ---------------------------------
   RE-USABLE COMPONENTS SECTION
   --------------------------------- */

.row {
  /* Only absolute dimension, all others will be relative. This is the entire
  width of the page */
  max-width: 1140px;
  /* Center all the rows on the page, set left ad right to auto and top and
  bottom to 0 */
  margin: 0 auto;
}

section {
  /* Add white spaces for each sections. Usually you use margins but padding
  for this case */
  padding: 80px 0;
}

.box {
  padding: 1%;
}

/* ---------- HEADINGS ---------- */

h1, h2, h3 {
  /* Reduce h1 weights which are bold by default */
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 1px;
}

h1 {
  /* Removes the header margins top and bottom so there are not white spaces
  around it */
  margin-top: 0;
  margin-bottom: 20px;
  color: #fff;
  font-size: 200%;
  word-spacing: 4px;
}

.h1_span {
  color:#e67e22;

}

h2 {
  font-size: 150%;
  word-spacing: 2px;
  text-align: center;
  margin-bottom: 30px;
}

h2:after {
  /* Diplays the orange underline */
  display: block;
  height: 2px;
  background-color: #e67e22;
  /* Contents must be specified anytime we use an :after, in this case no words
  just a space */
  content: " ";
  width: 110px;
  margin: 0 auto;
  margin-top: 30px;
}

h3 {
  font-size: 100%;
  margin-bottom: 15px;
}

/* ---------- PARAGRAPHS ---------- */
.long-copy {
  line-height: 135%;
  /* Typograhy rules make this make too long, so it can be shortened and
  re-cntered as below */
  width:70%;
   /* total lenght is 100%, paragraphs length is 70%, leaving 30%, distributed
   on each side */
  margin-left: 15%;
  margin-bottom: 30px;
}

.box p {
  font-size: 90%;
  line-height: 145%;
}

/* ---------- ICONS ---------- */
.icon-big {
  font-size: 300%;
  display: block;
  color: #e67e22;
  margin-bottom: 10px;
  text-align: center;

}

/* ---------- LINKS ---------- */
a:link,
a:visited {
  color: #e67e22;
  text-decoration: none;
  padding-bottom: 2px;
  border-bottom: 1px solid #e67e22;
  transition: border-bottom 0.2s; color:0.2s
}

a:hover,
a:active {
  color: #555;
  border-bottom: 1px solid transparent;
}

/* ---------- BUTTONS ---------- */
.btn:link,
.btn:visited,
input[type='submit'] {
  /* pseudo classes:css states for buttons: link >normal unclicked state,
  visited >look after it has been clicked, hover >look When
  pointed at, active > when clicked. Specify the state styling as below */

  /* inline-blocks can have padding and margin and does not enforce breaks,
  unlike an in-line element e.g. buttons, so use this inline block to make
  inline elements, in-line blocks */
  display: inline-block;
  padding: 5px 20px;
  font-size: 90%;
  font-weight: 300;
  text-decoration: none;
  border-radius: 100px;
  /* transition the link to hover colors in 0.2 seconds instead of instantenouesly */
  transition: background-color 0.2s, border 0.2s, color 0.2s;
}

.btn:hover,
.btn:active,
input[type='submit']:hover,
input[type='submit']:active {
  /* Make the buttons to have a darker tone of orange. Use 0to255.com, pick
  your color code and paste in the site to get various shades of your color */
  background-color: #cf6d17;
  border: 1px solid #cf6d17;
}

.btn_full:link,
.btn_full:visited,
input[type='submit'] {
  /* Use flatuicolors.com to get nice flat colors of the buttons */
  background-color: #e67e22;
  border: 1px solid #e67e22;
  color: #fff;
  margin-right: 15px;
}

.btn_full:hover,
.btn_full:active,
input[type='submit'] {
  background-color: transparent;
  border: 1px solid #cf6d17;

}

/* ---------------------------------
   HEADER SECTION
   --------------------------------- */
header {
  /* Include the img via 'url' and make its darker using liner-gradient */
  background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.65)),
  url(images/header.jpg);
  /* Ensure background image remains fixed when scrolling */
  background-attachment: fixed;
  /* ensure we can view the entire background image, not zoomed */
  background-size: cover;
  background-position: center;
  /* set the header to fiil the page viewport i.e entire page size so that header
  image fills the page as well */
  height: 100vh;
}

.hero_textbox {
 /* this will be an absolutely positined box so that we can horizontalt &
 vertically centre it */
 position: absolute;
 width: 1140px;
 top: 50%;
 left: 50%;
 /* Translates 50% of the element's width & length, up & left */
transform: translate(-50%, -50%);
}

.logo {
  height: 170px;
  width: auto;
  float: left;
  margin-top: 0px;
}

/* ---------- MAIN NAV ---------- */
.main_nav {
  float: right;
  list-style: none;  /* removes the bullets */
  margin-top: 30px;
}

.main_nav li {
  /* style all li elements inside the main nav bar */
  /* Change the li elements from block to in-line blocks */
  display: inline-block;
  margin: 20px;
}

.main_nav li a:link,
.main_nav li a:visited {
  padding: 8px 0;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 80%; /* desired font size/ base font size under 'html' */
  border-bottom: 2px solid transparent;
  transition: border-bottom 0.2s;
}

.main_nav li a:hover,
.main_nav li a:active {
  border-bottom: 2px solid #e67e22;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 80%; /* desired font size/ base font size under 'html' */
}

/* ---------------------------------
TESTIMONIALS SECTION
--------------------------------- */
.customer_testimonial {
  background-image: linear-gradient(rgba(0 , 0, 0, 0.75), rgba(0, 0, 0, 0.7)),
  url(images/testimonials.jpg);
  background-size: cover;
  color:#fff;
  background-attachment: fixed;
}

blockquote {
  padding: 2%;
  /* quotes are usually in italics */
  font-style: italic;
  line-height: 145%;
  position: relative;
  margin-top: 40px;
}

cite {
  font-size: 90%;
  margin-top: 25px;
  /* Move the cite element under the blockquote */
  display: block;
}

blockquote:before {
  /* Inserting text using css use 'content attribute' */
  /* We need to use isospecial characters to insert signs such as quote marks
  in css - Link in course e-book */
  content: "\201C";
  font-size:500%;
  /* Position it on its own line */
  display: block;
  /* Whenever we give an element an absolute position, we need to give its parent
  a relative position */
  position: absolute;
  top:-5px;
  left:-5px;
}

cite img {
  height: 45px;
  border-radius: 50%;
  margin-right: 10px;
  vertical-align: middle;
}

/* ---------------------------------
 FEEDBACK SECTION
--------------------------------- */
.customer_feedback {
  background-image: linear-gradient(rgba(0 , 0, 0, 0.75), rgba(0, 0, 0, 0.65)),
  url(images/feedback.jpg);
  background-size: cover;
  color:#fff;
  background-attachment: fixed;
}

.contact_form {
    width: 70%;
    /* Center the contact form inside its parent container */
    margin:0 auto;
}

.feedback_row {
    width:80%;
}

input[type='text'], input[type='email'], textarea {
    /* Select only inputs with selected type */
    width: 100%;
    padding: 7px;
    margin-bottom: 7px;
    border-radius: 3px;
    border: 1px solid #ccc;
    background-color: transparent;
    color:#fff;
}

.feed_input {
    font-weight: 100;
}

textarea {
    height: 100px;
}

/* ---------------------------------
 FOOTER SECTION
--------------------------------- */

footer {
    /*background-color: #333;*/
    padding: 10px;
    font-size: 80%
}

.footer_row{
    padding-left: 35px;
    height: 33px;
}

.first_col {
    width: 180px;
    margin: 5px;

}

.mid_col {
    width: 405px;
    margin-top: 2px;

}

.last_col {
    width: 490px;
    margin: 0px;

}

.footer_nav {
    list-style: none;
    float: left;
}

.socal_links {
    list-style: none;
}

.footer_nav li,
.socal_links li {
    display: inline-block;
    margin-right: 20px;
}

.footer_nav li:last-child,
.socal_links li:last-child {
    margin-right: 0;
}

.footer_nav li a:link,
.footer_nav li a:visited,
.socal_links li a:link,
.socal_links li a:visited {
    text-decoration: none;
    border: 0;
    color: #888;
    -webkit-transition: color 0.2s;
    transition: color 0.2s
    font-size: 140%;
}

.footer_nav li a:hover,
.footer_nav li a:active {
    color: #e67e22;
}

.footer_nav li a:link,
.footer_nav li a:visited {
    font-size: 105%;
}

.footer_nav li a:link,
.footer_nav li a:visited {
    font-size: 105%;
}

.socal_links li a:link,
.socal_links li a:visited {
    font-size: 140%;
}

.ion-social-facebook,
.ion-social-twitter,
.ion-social-googleplus,
.ion-social-instagram {
    -webkit-transition: color 0.2s;
    transition: color 0.2s
}

.ion-social-facebook:hover {
    color: #3b5998;
}

.ion-social-twitter:hover {
    color: #00aced;
}

.ion-social-googleplus:hover {
    color: #dd4b39;
}

.ion-social-instagram:hover {
    color: #517fa4;
}

footer p {
    color: #888;
    text-align: center;
    margin-top: 5px;
}
