<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="FastfoodFast is an urban eatery which also offers
     fast food delivery of quality healthy meals">
    <link rel="stylesheet" type="text/css" href="../static/css/normalize.css">
    <link rel="stylesheet" type="text/css" href="../static/css/grid.css">
    <link rel="stylesheet" type="text/css" href="../static/css/ionicons.css">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Lato:100,300,300i,400"
    rel="stylesheet" type="text/css">
    <title>About Us</title>
  </head>
  <body>
    <section class="about_section">
      <div class="row head">
        <h1>About FastFoodFast</h1>
      </div>
      <div class="row parag">
          <div class="col span-1-of-2">
              <p>
                Standing at the entrance to the restaurant you are immediately inundated by sweet exotic aromas. These delicious smells are enough to make your mouth water and your stomach begin to growl. Located at 201 West Orange Street in downtown Lancaster, FastFoodFast is renowned for its unique atmosphere and even more so, for its outstanding cuisine. The building in which FastFoodFast is located, has been a dining establishment since the late 1800's.
              </p>
          </div>
          <div class="col span-1-of-2">
              <p>
                In 1997, European Master Chef, Dale Miller bought the restaurant. At the time Miller was quoted as saying that it was his goal to make FastFoodFast one of the finest restaurants in Lancaster. According to patrons that have been eating at the restaurant for years, he has accomplished this goal. With an accomplished culinary
                career, managing over 60 cook operations, he knew his dream of running own place would be tougher but he clearly up to the challenge.
              </p>
          </div>

      </div>

      <div class="row imgs">
        <ul class="meals-showcase clearfix">
              <li class="chef">
                <figure class="meal-photo">
                   <img src="../static/images/chef.jpg" alt="Chef Kauf">
                   <figcaption>Master Chef Dale Miller</figcaption>
                </figure>
              </li>
              <li>
                <figure class="meal-photo">
                    <img src="../static/images/outside.jpg" alt="Outside restaurant">
                    <figcaption>FastFoodFast front entrance</figcaption>
                </figure>
              </li>
              <li>
                <figure class="meal-photo">
                    <img src="../static/images/inside.jpg" alt="Inside restaurant">
                    <figcaption>A look inside the restaurant</figcaption>
                </figure>
              </li>
              <li>
                <figure class="meal-photo">
                    <img src="../static/images/kitchen.jpg" alt="Restaurant Kitchen">
                    <figcaption>The kitchen operation</figcaption>
                </figure>
              </li>
        </ul>
      </div>
    </section>
  </body>
</html>
