<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="FastfoodFast is an urban eatery which also offers fast food delivery of quality healthy meals">
        <!-- Std content viewing across browsers -->
        <link rel="stylesheet" type="text/css" href="../static/css/normalize.css">
        <!-- Pre-set page columns and styles -->
        <link rel="stylesheet" type="text/css" href="../static/css/grid.css">
        <!-- Icon fonts -->
        <link rel="stylesheet" type="text/css" href="../static/css/ionicons.css">
        <!-- Custom styling -->
        <link rel="stylesheet" type="text/css" href="../static/css/style.css">
        <!-- Media queries -->
        <link rel="stylesheet" type="text/css" href="../static/css/queries.css">
        <!-- Google fonts -->
        <link href="https://fonts.googleapis.com/css?family=Lato:100,300,300i,400"
        rel="stylesheet" type="text/css">
        <title>FastFoodFast | Admin</title>
        <!-- Favicons pack -->
        <link rel="apple-touch-icon" sizes="180x180" href="../static/favicons/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="../static/favicons/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="../static/favicons/favicon-16x16.png">
        <link rel="manifest" href="../static/favicons/site.webmanifest">
        <link rel="mask-icon" href="../static/favicons/safari-pinned-tab.svg" color="#5bbad5">
        <link rel="shortcut icon" href="../static/favicons/favicon.ico">
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="msapplication-config" content="../static/favicons/browserconfig.xml">
        <meta name="theme-color" content="#ffffff">
    </head>

    <body>
        <section class="admin_section">
            <div class="row header_section">
                <div class="col span-1-of-2 admin_col">
                    <h1>Admin Dashboard</h1>
                </div>
                <div class="col span-1-of-2 admin_col">
                    <nav class="admin_nav">
                        <ul>
                            <li><a href="index.html">Log out</a></li>
                            <li><a href="#">Orders List</a></li>
                            <li><a href="#">Menu List</a></li>
                            <li><a href="#">Add Menu</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="row view_section">
                <div class="row view_header">
                    <p>Menu List</p>
                </div>
                <div class="row view_info">
                     <table>
                        <tr>
                            <th>ID</th>
                            <th>MEAL</th>
                            <th>PRICE</th>
                            <th>ACTION</th>
                        </tr>
                        <tr>
                            <td>M001</td>
                            <td>Meal 1</td>
                            <td>$10</td>
                            <td><form><input type=submit value="Update"></form></td>
                        </tr>
                        <tr>
                            <td>M002</td>
                            <td>Meal 2</td>
                            <td>$15</td>
                            <td><form><input type=submit value="Update"></form></td>
                        </tr>
                        <tr>
                            <td>M003</td>
                            <td>Meal 3</td>
                            <td>$12</td>
                            <td><form><input type=submit value="Update"></form></td>
                        </tr>
                        <tr>
                            <td>M004</td>
                            <td>Meal 4</td>
                            <td>$22</td>
                            <td><form><input type=submit value="Update"></form></td>
                        </tr>
                    </table>
                </div>
                <div class="row view_footer">
                    <p>
                        Copyright &copy; 2018 by FastFoodFast. All rights reserved.
                    </p>
                </div>
            </div>
        </section>
    </body>

</html>
