<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="FastfoodFast is an urban eatery which also offers
     fast food delivery of quality healthy meals">
    <link rel="stylesheet" type="text/css" href="../static/css/normalize.css">
    <link rel="stylesheet" type="text/css" href="../static/css/grid.css">
    <link rel="stylesheet" type="text/css" href="../static/css/ionicons.css">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Lato:100,300,300i,400"
    rel="stylesheet" type="text/css">
    <title>Corporate Info</title>
  </head>

  <body>
    <section>
      <div class="row corp">
        <h1>About FastFoodFast</h1>
      </div>
      <div class="row">
        <p>
          Neat own nor she said see walk. And charm add green you these. Sang
          busy in this drew ye fine. At greater prepare musical so attacks as
          on distant. Improving age our her cordially intention. His devonshire
          sufficient precaution say preference middletons insipidity. Since
          might water hence the her worse. Concluded it offending dejection
          do earnestly as me direction. Nature played thirty all him.
        </p>
      </div>
      <div class="row">
        <ul class="meals-showcase clearfix">
          <li>
            <figure class="meal-photo">
                <img src="../static/images/outside.jpg" alt="Outside restaurant">
            </figure>
          </li>
          <li>
            <figure class="meal-photo">
                <img src="../static/images/inside.jpg" alt="Inside restaurant">
            </figure>
          </li>
          <li>
            <figure class="meal-photo">
                <img src="../static/images/kitchen.jpg" alt="Restaurant Kitchen">
            </figure>
          </li>
        </ul>
      </div>
      <div class="row">
        <ul>
          <li>
            <p>Address :</p>
          </li>
          <li>
            <p>Telephone :</p>
          </li>
          <li>
            <p>Email :</p>
          </li>
        </ul>
      </div>
    </section>
  </body>
</html>
