<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <!-- For responsive webpage design -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- For search engine optimization -->
    <meta name="description" content="FastfoodFast is an urban eatery which also offers
     fast food delivery of qaulity healthy meals">

    <!-- For std content viewing across browsers -->
    <link rel="stylesheet" type="text/css" href="../static/css/normalize.css">
    <!-- For std column styles for the page -->
    <link rel="stylesheet" type="text/css" href="../static/css/grid.css">
    <!-- For ionicons -->
    <link rel="stylesheet" type="text/css" href="../static/css/ionicons.css">

    <link rel="stylesheet" type="text/css" href="../static/css/style.css">

    <link href="https://fonts.googleapis.com/css?family=Lato:100,300,300i,400"
    rel="stylesheet" type="text/css">

    <title>FastFoodFast</title>
  </head>

  <body>
    <header>
      <nav>
        <!-- class 'row' in grid.css, styles all row divs properly -->
        <div class="row">
          <img src="../static/images/logo-white.png" alt="Fastfoodfast logo" class="logo">
          <ul class="main_nav">
            <li><a href="#features">About Us</a></li>
            <li><a href="#testimonials">Testimonials</a></li>
            <li><a href="#feedback">Give Feedback</a></li>
          </ul>
        </div>
      </nav>

      <div class='hero_textbox'>
        <h1>EAT <span class="h1_span">HEALTHY</span>.. WITHIN <span class="h1_span">MINUTES</span>
        ..<br>ALL THE TIME!</h1>
        <!-- declare two css classes for the btns, one for common styles and
        the other for specific styles (in this case call to action buttons) -->
        <a class="btn btn_full" href="#menu">Order Now</a>
      </div>
    </header>

    <section class="section-features" id="features">
       <div class="row">
         <h2>HOW WE TAKE CARE OF YOUR NEEDS</h2>
         <p class="long-copy">
           Welcome to FastFoodfast, where fast meet healthy.
           Forget greasy, unhealthy meals but enjoy healthy gourment meals,
           prepared and served to you in no time. We understand you are busy,
           so let us take care of the cooking, while taking care of you health.
         </p>
       </div>
       <div class="row">
         <div class="col span-1-of-4 box">
           <!-- add icon fonts from ionicons.com (v2), download the icon files
           save the css & font files, then use with the <i> as
           below. Get the icon class names from the website -->
           <i class="ion-leaf icon-big"></i>
           <h3>100% organic</h3>
           <p>
             All our vegetables are fresh, organic and local. Animals are raised
             without added hormones or antibiotics. Good for your health, the
             environment, and it also tastes better!
           </p>
         </div>
         <div class="col span-1-of-4 box">
           <i class="ion-ios-stopwatch-outline icon-big"></i>
           <h3>Ready in 20 minutes</h3>
           <p>
             You're only twenty minutes away from your delicious and super
             healthy meals delivered right to your home. This is a gurantee we
             give or you money back.
           </p>
         </div>
         <div class="col span-1-of-4 box">
           <i class="ion-ios-star-outline icon-big"></i>
           <h3>Quality gurantee</h3>
           <p>
             Our five star rating ensures quality from ordering to delivery. This
             has led to over 3000 satisfied customers and counting, read some of
             their reviews in our testimonials.
           </p>
         </div>
         <div class="col span-1-of-4 box">
           <i class="ion-ios-unlocked-outline icon-big"></i>
           <h3>How it works</h3>
           <p>
             To get your super healthy meal fast, simply :<br>
             (1) Head over to our menu<br>
             (2) Choose a meal<br>
             (3) Add it to cart<br>
             (4) And checkout your order
           </p>
         </div>
       </div>
    </section>
    <section class="customer_testimonial" id="testimonials">
      <div class="row">
        <h2>Our customers love our food art</h2>
      </div>
      <div class="row">
        <div class="col span-1-of-3">
          <blockquote>
            FastFoodFast is just awesome! I just launched a startup which
            leaves me with no time for cooking, so Omnifood is a
            life-saver. Now that I got used to it, I couldn't live
            without my daily meals!
            <cite><img src="../static/images/customer-1.jpg"
            alt="Alberto Duncan">Alberto Duncan</cite>
          </blockquote>
        </div>
        <div class="col span-1-of-3">
          <blockquote>
            Inexpensive, healthy and great-tasting meals, delivered
            right to my home. There are lots of food delivery services,
            but no one comes even close to Omifood. My and I family are in love!
            <cite><img src="../static/images/customer-2.jpg"
            alt="Joana Silva">Joana Silva</cite>
          </blockquote>
        </div>
        <div class="col span-1-of-3">
          <blockquote>
            I was looking for a quality and quick food delivery service. I
            tried a many of them but finally settled for FastFoodFast. They
            are the best food delivery service ever, keep up the great work!
            <cite><img src="../static/images/customer-3.jpg"
            alt="Milton Chapman">Milton Chapman</cite>
          </blockquote>
        </div>
      </div>
    </section>

    <section class="plans_section" id="menu">
          <div class="row">
            <h2>Order any of our tasty meals now</h2>
          </div>

          <div class="row">
            <div class="col span-1-of-3">
              <div class="plan_box">
                <div class="plan_divs">
                  <h3 class="single_line_h3">Autumn pumpkin soup</h3>
                </div>
                <div class="plan_divs">
                  <p>
                    This lovely autumn pumpkin soup is packed with flavour and
                    perfect for when the nights begin to draw in. Best served with
                    some crusty bread.
                  </p>
                </div>
                <div class="img_plan_div">
                  <img src="../static/images/4.jpg" alt="Autumn pumpkin soup">
                </div>
                <div class="plan_divs">
                  <p class="plan_price">$10<span> only</span></p>
                </div>
                <div class="plan_divs">
                  <a href="#" class="btn btn_full btn_meal">Add to cart</a>
                </div>
              </div>
            </div>
            <div class="col span-1-of-3">
              <div class="plan_box">
                <div class="plan_divs">
                  <h3>Korean bibimbap with egg and vegetables</h3>
                </div>
                <div class="plan_divs">
                  <p>
                    Bibimbap, meaning 'mixed rice,' is rice with stir fried vegetables,
                    strips of beef, flavoured with a spicy pepper paste and topped
                    with a fried egg. Delicious!
                  </p>
                </div>
                <div class="img_plan_div">
                  <img src="../static/images/1.jpg" alt="Autumn pumpkin soup">
                </div>
                <div class="plan_divs">
                  <p class="plan_price">$20<span> only</span></p>
                </div>
                <div class="plan_divs">
                  <a href="#" class="btn btn_full btn_meal">Add to cart</a>
                </div>
              </div>
            </div>
            <div class="col span-1-of-3">
              <div class="plan_box">
                <div class="plan_divs">
                  <h3>Chicken breast steak with vegetables</h3>
                </div>
                <div class="plan_divs">
                  <p>
                    Are you looking for a quick and easy weeknight dinner? Look
                    no further, this easy chicken and veggies skillet is flavorful,
                    colorful and super healthy.
                  </p>
                </div>
                <div class="img_plan_div">
                  <img src="../static/images/3.jpg" alt="Autumn pumpkin soup">
                </div>
                <div class="plan_divs">
                  <p class="plan_price">$15<span> only</span></p>
                </div>
                <div class="plan_divs">
                  <a href="#" class="btn btn_full btn_meal">Add to cart</a>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col span-1-of-3">
              <div class="plan_box">
                <div class="plan_divs">
                  <h3>Burger with cheddar and bacon</h3>
                </div>
                <div class="plan_divs">
                  <p>
                    An incredibly tasty bacon and blue-cheese stuffed burger. Made
                    using a great American technique, which keeps the patty juicy,
                    it's a sure crowd-pleaser.
                  </p>
                </div>
                <div class="img_plan_div">
                  <img src="../static/images/7.jpg" alt="Autumn pumpkin soup">
                </div>
                <div class="plan_divs">
                  <p class="plan_price">$18<span> only</span></p>
                </div>
                <div class="plan_divs">
                  <a href="#" class="btn btn_full btn_meal">Add to cart</a>
                </div>
              </div>
            </div>
            <div class="col span-1-of-3">
              <div class="plan_box">
                <div class="plan_divs">
                  <h3>Paleo beef steak with vegetables</h3>
                </div>
                <div class="plan_divs">
                  <p>
                    Full-flavored steak and grilled vegetables make this recipe a
                    rich and satisfying meal, while a fresh vinaigrette adds a
                    sophisticated tangy taste.
                  </p>
                </div>
                <div class="img_plan_div">
                  <img src="../static/images/5.jpg" alt="Autumn pumpkin soup">
                </div>
                <div class="plan_divs">
                  <p class="plan_price">$25<span> only</span></p>
                </div>
                <div class="plan_divs">
                  <a href="#" class="btn btn_full btn_meal">Add to cart</a>
                </div>
              </div>
            </div>
            <div class="col span-1-of-3">
              <div class="plan_box">
                <div class="plan_divs">
                  <h3 class="single_line_h3">Creamy apple pie</h3>
                </div>
                <div class="plan_divs">
                  <p>
                  With its flaky, buttery crust; tart-sweet apples, and wonderful
                  cinnamon-y aroma, with a twist of vanilla bean ice cream, it's
                  the dessert for the ages.
                  </p>
                </div>
                <div class="img_plan_div">
                  <img src="../static/images/8.jpg" alt="Autumn pumpkin soup">
                </div>
                <div class="plan_divs">
                  <p class="plan_price">$13<span> only</span></p>
                </div>
                <div class="plan_divs">
                  <a href="#" class="btn btn_full btn_meal">Add to cart</a>
                </div>
              </div>
            </div>
          </div>
    </section>

    <section class="customer_feedback" id="feedback">
      <div class="row">
        <h2>We'd love to hear from you</h2>
      </div>
      <div class="row">
        <form class="contact_form" action="#" method="post">
            <!-- Make two columns but the second to have 2-in-1 cols so that its
            twice as wide as the first as specified in the grid css file-->
            <!-- type is the what info to enter, name will be used to send
            the data from the form, id is for linking a label to its input
            element, so when clicke the element is selected. Used via the
            'for' attribute in the label. Works only for text forms and
            selects only -->
          <div class="row feedback_row">
              <input type="text" id="name" autocomplete="off" class="feed_input" placeholder="Your name"
               required>
          </div>
          <div class="row feedback_row">
              <input type="email" id="email" autocomplete="off" class="feed_input" placeholder="Your email"
               required>
          </div>
          <div class="row feedback_row">
              <textarea name="message" class="feed_input" placeholder="Your feedback"></textarea>
          </div>
          <div class="row feedback_row">
              <input type="submit" value="Send">
          </div>
        </form>
      </div>
    </section>

</body>

  <footer>
      <div class="row footer_row">
            <div class="col span-1-of-3 first_col">
                <ul class="footer_nav">
                    <li><a href="#">Corporate Info</a></li>
                    <li><a href="#"><i class="ion-ios-gear"></i></a></li>
                </ul>
            </div>
            <div class="col span-2-of-3 mid_col">
                <ul class="socal_links">
                    <li><a href="#"><i class="ion-social-facebook"></i></a></li>
                    <li><a href="#"><i class="ion-social-twitter"></i></a></li>
                    <li><a href="#"><i class="ion-social-googleplus"></i></a></li>
                    <li><a href="#"><i class="ion-social-instagram"></i></a></li>
                </ul>
            </div>
            <div class="col span-3-of-3 last_col">
                <p>
                    Copyright &copy; 2015 by Omnifood. All rights reserved.
                </p>
            </div>
        </div>
  </footer>
</html>
