<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <!-- For responsive webpage design -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- For search engine optimization -->
    <meta name="description" content="FastfoodFast is an urban eatery which also offers
     fast food delivery of qaulity healthy meals">

    <!-- For std content viewing across browsers -->
    <link rel="stylesheet" type="text/css" href="../static/css/normalize.css">
    <!-- For std column styles for the page -->
    <link rel="stylesheet" type="text/css" href="../static/css/grid.css">

    <link rel="stylesheet" type="text/css" href="../static/css/style.css">

    <link href="https://fonts.googleapis.com/css?family=Lato:100,300,300i,400"
    rel="stylesheet" type="text/css">

    <title>FastFoodFast</title>
  </head>

  <body>
    <header>
      <nav>
        <!-- class 'row' in grid.css, styles all row divs properly -->
        <div class="row">
          <img src="../static/images/img-3.png" alt="Fastfoodfast logo" class="logo">
          <ul class="main_nav">
            <li><a href="#">About Us</a></li>
            <li><a href="#">Testimonials</a></li>
            <li><a href="#">Give Feedback</a></li>
          </ul>
        </div>
      </nav>

      <div class='hero_textbox'>
        <h1>EAT HEALTHY..<br>WITHIN MINUTES..<br>ALL THE TIME!</h1>
        <!-- declare two css classes for the btns, one for common styles and
        the other for specific styles (in this case call to action buttons) -->
        <a class="btn btn_full" href="#">Order Now</a>
      </div>
    </header>

  </body>

  <footer>

  </footer>
</html>
